html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
}

body {
  background-color: #f024d5;
}

.card img {
  width: 100px;
}

.logo {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.coin-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 9.375rem;
  border-radius: 5px;
  box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.712);
  text-align: center;
  padding: 10px;
}

.coin-name {
  margin-top: 10px;
}
